.navContainer {
  display: flex;
  height: 4rem;
  width: 100%;
  background: linear-gradient(
    137.48deg,
    rgba(255, 83, 188, 0.15) 15.13%,
    rgba(10, 252, 212, 0.15) 87.01%
  );
  align-items: center;
  box-shadow: 0 5px 50px #888888
}

.navbar {
  display: flex;
  height: 2rem;
  width: 100%;
  padding: 0 2rem;
  justify-content: space-between;
}

.navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin: auto 0;
}

.navbar input {
  border: none;
  border-radius: 52.4272px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(41.9417px);

  &::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }

}

.navbar-logo {
  font-size: 15px;
}

.buttons {
  display: flex;
  align-items: center;
  height: 100%;
}

.buttons a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  margin: 0 1rem;
}

.example-section {
  margin: 12px 0;
}

.example-margin {
  margin: 0 12px;
}

ul {
  list-style-type: none;
  margin-top: 4px;
}
